appdirs==1.4.4
beautifulsoup4==4.9.3
browser-cookie3==0.19.1
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
contourpy==1.2.0
cssselect==1.1.0
cycler==0.12.1
dateparser==1.0.0
demjson3==3.0.5
fake-useragent==0.1.11
fonttools==4.44.0
idna==2.10
jeepney==0.8.0
kiwisolver==1.4.5
lxml==4.9.1
lz4==4.3.2
matplotlib
numpy
packaging==23.2
pandas
parse==1.19.0
Pillow==10.1.0
pycryptodomex==3.19.0
pyee==8.1.0
pyparsing==3.1.1
pyppeteer==0.0.25
pyquery==1.4.3
python-dateutil
python-dotenv==1.0.0
pytz==2021.1
regex==2021.3.17
requests==2.25.1
requests-html==0.10.0
seaborn==0.13.0
six==1.15.0
soupsieve==2.2.1
tqdm==4.59.0
tzdata==2023.3
tzlocal==2.1
urllib3==1.26.5
w3lib==1.22.0
websockets==9.1
wordcloud